*{
box-sizing: border-box;
margin-bottom: 10px;
}

#first-line{

}

#second-line{

}

.tech-element{
  display: inline-block;
  position: relative;
}
.tech-element:hover .heart-button{
display:block;
}

.sale-1{
  background-color: green;
  position: absolute;
  right: 0;
  top: 0;
}

.sale-2{
  background-color: red;
  position: absolute;
  right: 0;
  top: 0;
}

.heart-button{
  position: absolute;
  left: 50%;
  bottom: 5%;
  text-decoration:none;
  color: red;
  display: none;
  font-size: 20px;
}
